###########################################
###             DEFAULT SETTINGS        ###
###########################################
# Any of those settings can be overwritten 
# by the user.
# To overwrite a setting, create a settings.toml
# or load the settings from .env file or vars.
# As an example, to change the port settings:
# settings.toml
# [default]
# scanner_frequency = 3600
# or via ENVVARS 
# export TT_SCANNER_FREQUENCY=3600


[default]
VALUE = "On Default"
talkytrend_enabled = true
talkytrend_mode = "scanner"
talkytrend_scanner = true
talkytrend_scheduler = false
scanner_frequency = 86400
enable_signals = true
assets = [
    { id ="EURUSD", exchange='FX_IDC',screener="forex", interval = "4h" },
    { id ="BTCUSD",exchange="BINANCE",screener="crypto", interval = "4h"},
    # { id ="GOLD",exchange="TVC",screener="cfd", interval = "4h"},
    # { id ="USOIL",exchange="FX",screener="cfd", interval = "4h"},
    # { id ="ETHUSD",exchange="BINANCE",screener="crypto", interval = "4h"},
    #use https://tvdb.brianthe.dev/ to get details
]
enable_events = true
economic_calendar = "https://nfs.faireconomy.media/ff_calendar_thisweek.json"
fomc_decision_date = ["2023-09-20","2023-11-01","2023-12-13"]
enable_news = false
news_url="https://gnews.io/api/v4/top-headlines?category=business&lang=en&max=2&apikey="
news_api_key = ""
enable_feed = true
#news_feed="http://feeds.feedburner.com/zerohedge/feed"
news_feed="https://www.financialjuice.com/feed.ashx?xy=rss"
live_tv_url = "https://bloomberg.com/media-manifest/streams/us.m3u8"



[testing]
VALUE = "On Testing"
talkytrend_enabled = true
talkytrend_mode = "scanner"
talkytrend_scanner = false
talkytrend_scheduler = false
scanner_frequency = 2
enable_signals = true
assets = [
    { id ="BTCUSD",exchange="BINANCE",screener="crypto", interval = "4h"},
]
enable_events = true
economic_calendar = "https://nfs.faireconomy.media/ff_calendar_thisweek.json"
fomc_decision_date = ["2023-07-26","2023-09-20","2023-11-01","2023-12-13"]
enable_news = false
news_url="https://gnews.io/api/v4/top-headlines?category=business&lang=en&country=us&max=2&apikey="
news_api_key = ""
enable_feed = true
news_feed="https://www.financialjuice.com/feed.ashx?xy=rss"
live_tv_url = "https://bloomberg.com/media-manifest/streams/us.m3u8"