[default]
talkytrend_enabled = true
scanner_frequency = 7200
assets = [
    { id ="EURUSD", exchange='FX_IDC',screener="forex", interval = "4h" },
    # { id ="BTCUSD",exchange="BINANCE",screener="crypto", interval = "4h"},
    #use https://tvdb.brianthe.dev/ to get details
    # { id ="GOLD",exchange="TVC",screener="cfd", interval = "4h"},
    # { id ="USOIL",exchange="FX",screener="cfd", interval = "4h"},
    # { id ="ETHUSD",exchange="BINANCE",screener="crypto", interval = "4h"},
]
economic_calendar = "https://nfs.faireconomy.media/ff_calendar_thisweek.json"
news_url="https://gnews.io/api/v4/top-headlines?category=general&lang=en&max=2&apikey="
news_api_key = ""
live_tv_url = "http://sc2022.stream-link.org/list.php?id=e007"

[testing]
VALUE = "On Testing"
